body {
	background: #111;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
}

#container {
	height: 600px;
	left: 50%;
	margin: -300px 0 0 -250px;
	position: absolute;
	top: 50%;
	width: 500px;
}

#main {
	background: #f8f8f8;
	height: 600px;
	position: absolute;
	width: 300px;
}

#sidebar {
	background: #eee;
	height: 600px;
	left: 300px;
	position: absolute;
	width: 210px;
}

#queue {
	background: #f8f8f8;
	height: 60px;
	margin: 15px 0 0 15px;
	overflow: hidden;
	position: relative;
	width: 180px;
}

	#queue .block {
		height: 13px;
		width: 13px;
	}

.block {
	background: #222;
	border: 1px solid;
	border-color: rgba(255, 255, 255, .2) rgba(0, 0, 0, .2) rgba(0, 0, 0, .2) rgba(255, 255, 255, .2);
	position: absolute;
	height: 28px;
	width: 28px;
}

	.block.ddd  { background: #d00; } /* I */
	.block.ddr  { background: #d0d; } /* L */
	.block.drd  { background: #0d0; } /* S */
	.block.rdr  { background: #0dd; } /* Z */
	.block.drr  { background: #ddd; } /* J */
	.block.dru  { background: #00d; } /* O */
	.block.rdur { background: #dd0; } /* T */
