@font-face {
    font-family: 'OrbitronLight';
    src: url('../fonts/Orbitron/orbitron-light-webfont.eot');
    src: url('../fonts/Orbitron/orbitron-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Orbitron/orbitron-light-webfont.woff') format('woff'),
         url('../fonts/Orbitron/orbitron-light-webfont.ttf') format('truetype'),
         url('../fonts/Orbitron/orbitron-light-webfont.svg#OrbitronLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronMedium';
    src: url('../fonts/Orbitron/orbitron-medium-webfont.eot');
    src: url('../fonts/Orbitron/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Orbitron/orbitron-medium-webfont.woff') format('woff'),
         url('../fonts/Orbitron/orbitron-medium-webfont.ttf') format('truetype'),
         url('../fonts/Orbitron/orbitron-medium-webfont.svg#OrbitronMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronBold';
    src: url('../fonts/Orbitron/orbitron-bold-webfont.eot');
    src: url('../fonts/Orbitron/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Orbitron/orbitron-bold-webfont.woff') format('woff'),
         url('../fonts/Orbitron/orbitron-bold-webfont.ttf') format('truetype'),
         url('../fonts/Orbitron/orbitron-bold-webfont.svg#OrbitronBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronBlack';
    src: url('../fonts/Orbitron/orbitron-black-webfont.eot');
    src: url('../fonts/Orbitron/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Orbitron/orbitron-black-webfont.woff') format('woff'),
         url('../fonts/Orbitron/orbitron-black-webfont.ttf') format('truetype'),
         url('../fonts/Orbitron/orbitron-black-webfont.svg#OrbitronBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #001;
	color: #e9f;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 1em;
}

a {
	color: #ecf;
}

header {
	display: none;
}

#container {
	border: 1px solid #405;
	font-family: 'OrbitronMedium', sans-serif;
	font-size: 12px;
	height: 600px;
	left: 50%;
	line-height: 1em;
	margin: -300px 0 0 -255px;
	position: absolute;
	top: 50%;
	width: 511px;
}

#main {
	background: #102;
	height: 600px;
	position: absolute;
	width: 300px;
}

#sidebar {
	background: #203;
	border-left: 1px solid #405;
	height: 600px;
	left: 300px;
	position: absolute;
	width: 210px;
}

	#sidebar dl {
		margin: 0 15px 15px 15px;
		overflow: hidden;
	}

	#sidebar dt {
		float: left;
	}

	#sidebar dd {
		float: right;
	}

#queue {
	background: #001;
	height: 60px;
	margin: 15px;
	overflow: hidden;
	position: relative;
	width: 180px;
}

	#queue .block {
		height: 13px;
		width: 13px;
	}

#stats {
	border-color: #405;
	border-style: solid;
	border-width: 1px 0;
	font-size: 16px;
	line-height: 1em;
	padding-top: 15px;
}

#help {
	bottom: 0;
	border-top: 1px solid #405;
	color: #c9f;
	padding-top: 15px;
	position: absolute;
	width: 210px;
}

.block {
	background: #222;
	border: 1px solid;
	border-color: rgba(255, 255, 255, .2) rgba(0, 0, 0, .2) rgba(0, 0, 0, .2) rgba(255, 255, 255, .2);
	position: absolute;
	height: 28px;
	width: 28px;
}

	.block.ddd  { background: #d00; } /* I */
	.block.ddr  { background: #d0d; } /* L */
	.block.drd  { background: #0d0; } /* S */
	.block.rdr  { background: #0dd; } /* Z */
	.block.drr  { background: #ddd; } /* J */
	.block.dru  { background: #00d; } /* O */
	.block.rdur { background: #dd0; } /* T */

footer {
	bottom: 0;
	position: absolute;
}

	footer p {
		display: inline-block;
		margin-right: 1em;
	}

#github {
	background: url('../images/github.png');
	display: block;
	height: 145px;
	position: absolute;
	right: 0;
	top: 0;
	width: 145px;
}
